body{
    background-color:#1D1B31; 
}
body::-webkit-scrollbar{
    width: 7px;
    background: #1d1b31;
}
body::-webkit-scrollbar-thumb{
    background: #11101d;
}
h1{
    color: azure;
    margin-top: 30px;
    margin-left: 50px;
}
table{
    width: 93%;
    text-align: left;
    border-collapse: collapse;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: #11101d;
    color: white;
    padding: 50px;
}
tr{
    box-shadow:inset 0px -8px 1px -6px rgba(38, 255, 0, 0.576);
    
}
th{
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
    padding: 15px;
}
td{
    padding-left: 15px;
}
img{
    width: 40px;
    height: 40px;
}
#editar{
    cursor: pointer;
}
#basura{
    padding-right: 15px;
    cursor: pointer;
}
#lineaBoton{
    text-align: center;
}
#botonJuego{
    cursor: pointer;
    margin: 7px;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
     
}

@media (max-width: 700px){
    .ocultar{
        display: none;
    }
    table{
        width: 90%;
        margin-left: 15px;
    }
}
