*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #1D1B31;
}
.contenedor{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "A B";
    background-color: #1D1B31;
}
.subcontenedor1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-area: A;
    border-right: 3px solid #11101d;
} 
.titulo{
    background-color: #11101d;
    color: beige;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    box-shadow:inset 0px -8px 1px -6px rgba(0,178,255,1);
}
.texto{
    width: 80%;
    padding-left: 20px;
    font-size: 30px;
} 
.usuario{
    width: 20%;
    padding-left: 10px;
    font-size: 30px;
}
.usuario img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 3px;
}
.cuerpo{
    width: 100%;
    height: 90vh;
}
.cuerpo h3{
    color: azure;
    margin-top: 10px;
    margin-left: 20px;
}
.caja{
    background-color: #19172b;
    width: 95%;
    height: 100%;
    text-align: center;
    margin: 20px;
}
.nombre{
    font-size: 25px;
    display:inline;
    color: white;
    padding: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(24, 131, 137, 0.914);
}
.imagen{
    padding: 18px;
    padding-top: 40px;
}
.imagen img{
    width: 300px;
    height: 200px;
    padding: 3px;
    border-radius:50px 50px 50px 50px;
    box-shadow:0 0 5px rgba(0,178,255,1);
}
.descripcion{
    color: azure;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}
.subcontenedor2{
    width: 100%;
    height: 100%;
    grid-area: B;
    
}
.cabecera{
    display: flex;
    color: white;
    width: 100%;
    height: 10vh;
    align-items: center;
    margin-bottom: 30px;
}
.texto2{
    width: 80%;
    padding-left: 20px;
}
.cierre{
    width: 20%;
    padding-top: 5px; 
}
.cierre h2{
    cursor: pointer;
    color: #e50b0b; 
    text-shadow: 0 0 5px #e97272, 0 0 10px #e97272, 0 0 17px #a33434, 0 0 38px #e50b0b
}
.contenido{
    width: 100%;
    height: 70vh;
}
.principal{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}
.imagen2{
    width: 40%;
    height: 50px;
    padding-left: 15px;
}
.imagen2 img{
    width: 100px;
    height: 100px;
    border-radius:50px 50px 50px 50px;
    box-shadow:0 0 5px rgba(0,178,255,1);
}
.nombre2{
    font-size: 40px;
    margin-left:30px ;
    padding-top: 25px;
    color: azure;
    box-shadow:inset 0px -8px 1px -6px rgba(0,178,255,1);
}
.secundario{
    width: 100%;
    height: 300px;
}
.precio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    color: azure;
}
.text{
    margin-left: 15px;
}
.operaciones{
    margin-right: 14px;
    align-items: flex-end;
}
.politica{
    width: 90%;
    color: azure;
    margin: 20px;
    font-size: 12px;
}

.pedido{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 16vh;
    box-shadow: inset 0px 8px 6px -6px rgb(24, 131, 137);
    align-items: center;
}
.boton{
    background-color: #0be5d373;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    0 0 0.1vw 0.4vw #fff7f7,
    0 0 0.4vw 0.6vw #72e9df,
    0 0 4vw 0.4vw #0be5d3,
    inset 0 0 1.5vw 0.4vw #0be5d3,
    inset 0 0 0.4vw 0.2vw #72e9df,
    inset 0 0 0.5vw 0.4vw #fff7f7;
    margin-top: 30px;
    margin-bottom: 30px;
}
.boton:hover{
    background-color: #0be5d3cf;
}
#modal1{
    width: 50%;
    height: 350px;
    position: relative;
    left: 25%;
    top: 30%;
    background-color: #a7a3d0;
    border-radius: 20px;

}
#modal1 h2{
    margin: 15px;
    text-align: center;
}
#modal1 p{
    margin: 15px;
    text-align: justify;
}
#contenedorBotones{
    display: flex;
    width: 100%;
    justify-content: space-between;
    vertical-align: middle;
}
.cerrarmodal{
    background-color: #e50b0b68;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    0 0 0.1vw 0.3vw #fff7f7,
    0 0 0.4vw 0.3vw #e97272,
    0 0 0.5vw 0.3vw #e50b0b,
    inset 0 0 0.5vw 0.0vw #e50b0b,
    inset 0 0 0.4vw 0.1vw #e97272,
    inset 0 0 0.1vw 0.1vw #fff7f7;
    margin: 40px;
}
.cerrarmodal:hover{
    background-color: #e50b0b;
}
.confirmarmodal{
    background-color: #4ce50b6f;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    0 0 0.1vw 0.3vw #fff7f7a3,
    0 0 0.4vw 0.3vw #53e364,
    0 0 0.5vw 0.3vw #4ce50b,
    inset 0 0 0.5vw 0.0vw #4ce50b,
    inset 0 0 0.4vw 0.1vw #53e364,
    inset 0 0 0.1vw 0.1vw #fff7f7a3;
    margin: 40px;
}
.confirmarmodal:hover{
    background-color: #4ce50b;
}
@media (max-width: 700px) {

    .contenedor{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "A"
        "B";
    }

    .subcontenedor1{
        width: 100%;
    }
    .subcontenedor2{
        width: 100%;
    }
    #modal1{
        width: 70%;
        height: 60%;
        top: 100%;
        left: 15%;
    }
    #contenedorBotones{
        justify-content: center;
    }
    .cerrarmodal{
        width: 100px;
        left: 10%;
        top: 3%;
        margin: 0px;
        margin-right: 10px;
    }
    .confirmarmodal{
        width: 100px;
        left: 10%;
        top: 8%;
        margin: 0px;
        margin-left: 10px;
    }
}


