dialog{
    margin: 0;
}
.modal{
    position: absolute;
    background-color: #1d1b31; 
    width: 500px;
    height: 600px;
    left: 25%;
    top: 25%;
}
.modal::-webkit-scrollbar{
    width: 7px;
    background: #1d1b31;
}
.modal::-webkit-scrollbar-thumb{
    background: #11101d;
}
#tituloJuego{
    box-shadow:inset 0px -8px 1px -6px rgba(0,178,255,1);
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size:large;
    width: 100%;
    height: 10%;
    text-align: center;
}
#tituloJuego h1{
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
}
#subcontenedor{
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin: 30px;
    margin-top: -100;
}
form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}
label {
    color:  #c2c2c5;
    width: 23%;
    display: block;
    font-size: 20px;
    height: 16px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.text{
    width: 250px;
}
.campos {
    background: transparent;
    border: 0;
    box-shadow:inset 0px -8px 1px -6px rgba(0,178,255,1);
    color: #f2f2f2;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}
.campos::-moz-focus-inner { 
    border: 0; 
}
.campo_enviar::-moz-focus-inner { 
    border: 0; 
}
input{
    border: 0;
    background: none;
    width: 250px;
    color: #c2c2c5;
}
select{
    cursor: pointer;
    margin-left: 5px;
    width: 100px;
    color: white;
    background-color: #1d1b31;
    outline: none;
    border: 0;
}
select:focus{
    background-color: #11101d; 
    outline: none;
}
input:focus{
    border: 0;
    background: none;
    outline: none;
}
#enviar{
    background-color: #4ce50b6f;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    0 0 0.1vw 0.3vw #fff7f7a3,
    0 0 0.4vw 0.3vw #53e364,
    0 0 0.5vw 0.3vw #4ce50b,
    inset 0 0 0.5vw 0.0vw #4ce50b,
    inset 0 0 0.4vw 0.1vw #53e364,
    inset 0 0 0.1vw 0.1vw #fff7f7a3;
    margin-top: 30px;
}
#enviar:hover{
    background-color: #4ce50b;
}
#cerrar{
    background-color: #e50b0b68;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    0 0 0.1vw 0.3vw #fff7f7,
    0 0 0.4vw 0.3vw #e97272,
    0 0 0.5vw 0.3vw #e50b0b,
    inset 0 0 0.5vw 0.0vw #e50b0b,
    inset 0 0 0.4vw 0.1vw #e97272,
    inset 0 0 0.1vw 0.1vw #fff7f7;
    margin-top: 30px;
}
#cerrar:hover{
    background-color: #e50b0b;
}
#cerrarJuego{
    background-color: #e50b0b68;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    0 0 0.1vw 0.3vw #fff7f7,
    0 0 0.4vw 0.3vw #e97272,
    0 0 0.5vw 0.3vw #e50b0b,
    inset 0 0 0.5vw 0.0vw #e50b0b,
    inset 0 0 0.4vw 0.1vw #e97272,
    inset 0 0 0.1vw 0.1vw #fff7f7;
    margin-top: 30px;
}
#cerrarJuego:hover{
    background-color: #e50b0b;
}
#botonJuego{
    background-color: #0be5d373;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    width: 20%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    0 0 0.1vw 0.4vw #fff7f7,
    0 0 0.4vw 0.6vw #72e9df,
    0 0 4vw 0.4vw #0be5d3,
    inset 0 0 1.5vw 0.4vw #0be5d3,
    inset 0 0 0.4vw 0.2vw #72e9df,
    inset 0 0 0.5vw 0.4vw #fff7f7;
    margin-top: 30px;
    margin-bottom: 30px;
}
#botonJuego:hover{
    background-color: #0be5d3;
}

@media (max-width: 700px){
    #botonJuego{
        width: 90%;
    }
}