@import url('https://rsms.me/inter/inter-ui.css');
@font-face {
  font-family: NeonLight-Regular;
  src: url(/fuentes/NeonLight-Regular.ttf);
}
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: rgb(0, 0, 0);
  font-family: 'Inter UI', sans-serif;
}
.fondo{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.fondo img{
  width: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  height:100%;
  position: absolute;
  place-content: center;
  width: 100%;
}

@media (max-width: 900px) {
  .page {
    height: 100%;
  }
  .fondo img{
    width: 100%;
    opacity: 0.01;
  }
}
.container1 {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
  opacity: 1;
}
.container1.active{
  display: none;
  opacity: 0;
}
.container2{
  display: none;
  height: 515px;
  margin: 0 auto;
  width: 640px;
  opacity: 0;
}
.container2 .left{
  height: 50%;
  top: 20%;
}
.container2.active{
  display: flex;
  opacity: 1;
}

@media (max-width: 900px) {
  
  .container2.active .left{
    flex-direction: column;
    left:-37%;
    top: 100%;
    width:301px;
    height:100px;
  }
  .container2 .right{
    left: 10%;
  }
  .container2 .login{
    margin-top:35px;
  }

  .container1 .right{
    flex-direction: column;
    left:-37%;
    top: -25%;
    width:301px;
    height:310px;
  }
  .container1 .left{
    left:10%;
    top: 72%;
    width:300px;
    height:100px;
  }
  .container1 .login{
    margin:10px;
    margin-top: 30px;
  }
}

.left {
  background-color: #e50b0b44;
  box-shadow: 
  0 0 0.1vw 0.4vw #fff7f7,
  0 0 0.4vw 0.6vw #e97272,
  0 0 4vw 0.4vw #e50b0b,

  inset 0 0 1.5vw 0.4vw #e50b0b,
  inset 0 0 0.4vw 0.2vw #e97272,
  inset 0 0 0.5vw 0.4vw #fff7f7;
  height: calc(100% - 50px);
  text-align: center;
  top: 25px;
  position: relative;
  width: 50%;
  border-radius: 30px;
}

@media (max-width: 900px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 50px);
    max-height: 270px;
  }
}
.login {
  font-family: NeonLight-Regular;
  font-size: 60px;
  color: #fff7f7;
  cursor: pointer;
  margin-top: 30%;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  
  background-color: #0be5d358;
  box-shadow: 
  0 0 0.1vw 0.4vw #fff7f7,
  0 0 0.4vw 0.6vw #72e9df,
  0 0 4vw 0.4vw #0be5d3,

  inset 0 0 1.5vw 0.4vw #0be5d3,
  inset 0 0 0.4vw 0.2vw #72e9df,
  inset 0 0 0.5vw 0.4vw #fff7f7;
  color: #F1F1F2;
  position: relative;
  width: 50%;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .right {
    flex-shrink: 0;
    height: 515px;
    width: 300px;
  }
}
.form {
  margin: 40px;
  margin-top: 15px;
  position: absolute;
}
.form h1{
  font-family: NeonLight-Regular;
  color: #fff7f7;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.campos {
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
.campos::-moz-focus-inner { 
  border: 0; 
}
.campo_enviar {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
}
.campo_enviar::-moz-focus-inner { 
  border: 0; 
}
